#my-footer,
#my-footer .links {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.credits,
.links a {
  padding: 8px;
}

#my-footer > div > a:hover {
  /* Alterar se o background for claro */
  background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 450px) {
  #my-footer {
    flex-direction: column;
  }

  /* Esconde o primeiro separator */
  #my-footer > .separator {
    display: none;
  }
}

.separator,
.credits {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.links a svg {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}
