* {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
}

header,
#weather-container,
footer {
  background-color: #ffffff52;
  backdrop-filter: blur(5px);
}

body {
  background: url(./media/bg-images/clouds.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

header .brand {
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.5rem;
}

header #city-search-bar {
  height: 40px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;

  background-color: #fff;
  color: #000;

  width: 100%;

  border-radius: 4px;
  margin-bottom: 4px;

  position: relative;
}

header #city-search-bar label {
  font-size: 0.8rem;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

header #city-search-bar input {
  background-color: #e6e6e6;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 4px 8px;
  border: 1px solid #fff;
}

header #city-search-bar input:focus {
  outline: none;
  border: 1px solid #000;
}

header #city-search-bar button {
  height: 100%;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  padding: 0 16px;
}

.error-message {
  background-color: rgb(212, 46, 46);
  color: #fff;

  text-align: center;

  border-radius: 4px;
  padding: 8px;

  width: 100%;

  position: absolute;
  z-index: 2;
  top: calc(100% + 4px);

  pointer-events: none;
  opacity: 0;

  transition: opacity ease-in-out 200ms;
}

.loading-overlay {
  background-color: #ffffff52;
  color: #000;
  backdrop-filter: blur(10px);

  font-weight: bold;
  font-size: 2rem;

  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;

  transition: opacity ease-in-out 100ms;
}

.loading-overlay.active,
.error-message.active {
  opacity: 1;
}

#weather-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 32px;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

#weather-container .switch-units {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 0.8rem;
  border: none;
  padding: 4px 12px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;

  transition: transform ease-in-out 100ms;
}

#weather-container .switch-units:active {
  transform: scale(0.9);
}

#weather-container .city-name,
#weather-container .current-temp-container {
  font-weight: bold;
  margin-bottom: 16px;
}

#weather-container .city-name {
  font-size: 2rem;
}

#weather-container .current-temp-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 3rem;
}

#weather-container .current-temperature {
  font-size: 7rem;
}

#weather-container .max-temp-container,
#weather-container .min-temp-container,
#weather-container .humidity-container {
  margin-bottom: 8px;
  font-weight: bold;
}

header .brand,
#weather-container .city-name,
#weather-container .current-temp-container,
#weather-container .max-temp-container,
#weather-container .min-temp-container,
#weather-container .humidity-container {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 720px) {
  header #city-search-bar {
    width: 600px;
  }

  #weather-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
